body {
    background-color: red;
    font-family: 'Pacifico', cursive;
    font-size: 18px;
}

h1 {
    margin-top: 6%;
    font-family: 'Press Start 2P', cursive;
}

#site_border {
    background-color: #FFFDD0;
    position: absolute;
    top: -1px;
    bottom: -1px;
    margin-left: 10%;
    margin-right: 10%;
}

p {
    margin-top: 50px;
    margin-left: 10%;
    margin-right: 10%;
}