body {
    background-color: red;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}

#site_border {
    background-color: #FFFDD0;
    position: absolute;
    top: -1px;
    bottom: -1px;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    margin-top: 6%;
    text-align: center;
}

p {
    margin-top: 2%;
    margin-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
}