body {
    background-color: red;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
}

#site_border {
    background-color: #FFFDD0;
    position: absolute;
    top: -1px;
    bottom: -1px;
    margin-left: 10%;
    margin-right: 10%;
}

h1 {
    margin-top: 6%;
    text-align: center;
}

#table_image {
    width: 40%;
}

#main_page_intro {
    margin-top: 80px;
    margin-left: 15%;
    margin-right: 15%;
    display: flex;
    justify-content: row;
}

#random_text {
    margin-left: 3%;
}

#kep {
    width: 100%;
    margin-left: -1px;
    margin-right: -1px;
}