/* font-family: 'Pacifico', cursive; */
/* font-family: 'Press Start 2P', cursive; */



h1 {
    text-align: center;
}

#menu_line {
    display: flex;
    justify-content: space-evenly;
    margin-left: 25%;
    margin-right: 25%;
    background-color: #fffdd0ab;
    align-items: center;
}



.dice_image {
    width: 40px;
    height: 40px;
}

.menu_button {
    background-color: red;
    font-size: 18px;
    color: white;
    cursor: pointer;
    border-radius: 12px;
    font-family: 'Press Start 2P', cursive;
}



